@page "{id:int}"
@model CTTSite.Pages.Store.Product.UpdateStockOnProductPageModel
@{
}


<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 text-center">
            <form method="post">                
                <div class="form-row">               
                    <h1 class="text-center"><b>Update Stock</b></h1>
                    <br />
                    <div class="form-group">
                        <label for="ItemName">Item Name:</label>
                        <input type="text" id="ItemName" class="form-control" value="@Model.Item.Name" readonly />
                    </div>

                    <div class="form-group">
                        <label for="ItemStock">Current Stock:</label>
                        <input type="text" id="ItemStock" class="form-control" value="@Model.Item.Stock" readonly />
                    </div>

                    <div class="form-group">
                        <label for="Count">Enter the amount you want to update stock with:</label>
                        <input type="number" id="Count" class="form-control" asp-for="count" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update stock" class="btn btn-dark" />
                        <a asp-page="AdminProductsPage" class="btn btn-outline-dark">Back</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
